# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSs
.DS_Store

# IDEs
.idea/
cmake-build-*
.kdev4
.vscode

# Temporary structure
temporary*/

# Source
Documentation/build

# SuperBench output
TransformParameters.*
registration_driver.log

# Dropbox sync
.dropbox.attr

# Images
*.nii.gz
*.mhd
*.raw